<div fxLayout fxLayoutGap="20px" style="height: 80vh" fxLayoutAlign="center center">
  <mat-card fxLayoutGap="20px" fxLayoutAlign="center center" fxLayout="column" style="margin-top: 50px">
    <mat-card-title>
    <span class="mat-h1" appTranslate>placeholder.title</span><br>
    </mat-card-title>
    <form [formGroup]="formCompany">
      <mat-form-field>
        <input matInput placeholder="{{'placeholder.name' | translate: localizationService.currentLanguage}}"
        formControlName="name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="{{'placeholder.city' | translate: localizationService.currentLanguage}}"
        formControlName="city">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput
               matGoogleMapsAutocomplete
               [country]="['il']"
               [types]="['address']"
               (onAutocompleteSelected)="onAutocompleteSelected($event)"
               (onLocationSelected)="onLocationSelected($event)"
               placeholder="{{'placeholder.address' | translate: localizationService.currentLanguage }}"
               type="text"
               name="address"
               formControlName="address">
        <mat-error *ngIf="formCompany.get('address').hasError('notEquivalent')">Wrong address</mat-error>
      </mat-form-field>
      <br>
      <br>
      <button mat-basic-chip color="accent" (click)="inputFile.click()" appTranslate>placeholder.chooseFile</button>
      <input type="file" placeholder="choose file" style="display: none" #inputFile (change)="onFileSelected(inputFile.files)">
    </form>
    <img [src]="imgSrc" style="width: 250px;height: 250px" *ngIf="imgSrc">
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onSubmitForm()" [disabled]="!formCompany.valid" appTranslate>placeholder.okBtn</button>
      <button mat-raised-button color="accent" (click)="onResetForm()" appTranslate>placeholder.cancelBtn</button>
    </mat-card-actions>
  </mat-card>
</div>
