<mat-toolbar color="primary" fxLayout="row" >

  <div fxFlex fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
    <!--<h1 routerLink="/" routerLinkActive="active" style="cursor: pointer">HOME</h1>-->
    <img src="../../assets/icons/icon2.png" style="width: 8vh;height: 7vh;cursor: pointer" routerLink="/"
         routerLinkActive="active">
    <div fxFlex fxLayout fxLayoutAlign="end center" style="margin-top: 0.5em" fxLayoutGap="10px">
      <img src="../../assets/icons/flag-il.png" style="width: 5vh;height: 4vh" (click)="changeLang('he')">
      <img src="../../assets/icons/en.png" style="width: 5vh;height: 4vh" (click)="changeLang('en')">
    </div>
  </div>
</mat-toolbar>
