<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <h1>{{ company.name}}</h1>
  <h3>{{company.address}}</h3>
  <h3>{{company.city}}</h3>
  <img [src]="imgSrc" [ngStyle.gt-xs]="{'height.px': 250,'width.px': 350,'padding-bottom.px': 20}"
  [ngStyle.xs]="{'height.px':150,'width.px':150,'padding-bottom.px':15}">
</div>

<div fxLayout fxLayoutAlign="center center" style="padding-bottom: 15px">
<agm-map [ngStyle]="{'height.vh': 45,'width.vw': 70}" [zoom]='15' [latitude]="latitude"
         [longitude]="longitude">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>
</div>
