<div fxLayout="row" [ngStyle.xs]="{'height.vh':14,'margin-top.vh':0.5}">
  <div fxFlex="80" (click)="navigateToCompanyDetails()">
    <div>
      <img [src]="imageService.getImage(company.name)"
           [ngStyle.xs]="{'height.vh':13,'width.vh':17}"
           [ngStyle.lt-lg]="{'height.vh':14.5,'width.vh':17}">
    </div>

    <div fxFlex="5"></div>

    <div fxLayout="column" fxFlex="55" fxFlex.xs="40">
      <h3 [ngStyle.xs]="{'margin.px':0}">{{ company.name}}</h3>

      <p>{{company.address}}</p>
    </div>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="deleteCompany(company)" appTranslate>button.deleteSingle</button>
  </div>


</div>

<mat-divider></mat-divider>
