/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*.rtl > app-root * {*/
  /*direction: rtl;*/
  /*text-align: start!important;*/
/*}*/
html, body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

