body{
}
mat-chip-list{
  margin-top: 10px!important;
}
mat-chip{
  margin-top:20px!important;
}
#addBtn{
  background-color: green;
}

.btn-delete {
}

.btn-add {
  margin-left: 2vw;
}

.btn-container {
  position: fixed;
  bottom: 5vh;
  left: 8vw;
}
