<div [ngStyle.gt-sm]="{'margin-left.vw':20,'margin-right.vw':20,'margin-top.vh':2}"  >
  <cdk-virtual-scroll-viewport  itemSize="50" style="height: 82vh" [ngStyle.xs]="{'height.vh':73}"
                               [ngStyle.sm]="{'height.vh':74}"
                                [ngStyle.md]="{'height.vh':80}">


  <app-company-item *cdkVirtualFor="let item of dataService.companyList;let ind=index"
                    [index]="ind"
                    [company]="item">
  </app-company-item>
  </cdk-virtual-scroll-viewport>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" selected appTranslate *ngIf="!hidden" (click)="deleteAll()">button.delete</mat-chip>
    <mat-chip id="addBtn" selected (click)="addCompany()" *ngIf="!hidden" appTranslate>button.add</mat-chip>
  </mat-chip-list>
</div>
